.brightness-control {
    background-color: #1e1e2e;
    padding: 16px;
    border-radius: 10px;
}

.brightness-slider-box {
    padding: 8px;

    label {
        min-width: 80px;
        color: #cdd6f4;
    }

    scale {
        margin-left: 16px;

        trough {
            background-color: #313244;
            border-radius: 5px;
            min-height: 10px;
            min-width: 150px;

            highlight {
                background-color: #89b4fa;
                border-radius: 5px;
            }
        }
    }
}
